<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		<typeAlias type="com.ascom.kintai.vo.TestVo" alias="TestVo" />
		<typeAlias type="com.ascom.kintai.vo.Employee" alias="Employee" />
		<typeAlias type="com.ascom.kintai.vo.WorkappInfo" alias="WorkappInfo" />
	</typeAliases>
	
	<mappers>
		<mapper resource="./com/ascom/kintai/mapper/kintaiMapper.xml" />
	</mappers>
	
</configuration>

