<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ascom.kintai.dao.TestMapper">
	<insert id="insert" parameterType="TestVo">
		INSERT 
		INTO 
		TEST_TABLE 
		(NAME) 
		VALUES (
		#{name}
		)
	</insert>
</mapper>