<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ascom.kintai.mapper.KintaiUserMapper">

	<select id="workInfo" parameterType="String" resultType="WorkappInfo">
		select 
			date_format(workDate,'%d') as workDate, 
			date_format(startTime,'%H:%i:%s') as startTime,
			date_format(endTime,'%H:%i:%s') as endTime,
			date_format(restTime,'%H:%i') as restTime,
			date_format(workTime,'%H:%i') as workTime 
				
			from 
				workapp_info_table
			where 
				email=#{param1} and workDate like CONCAT(#{param2}, '%')
			
			order by workDate asc
	</select>
	
	
	<update id="UpdateWorkInfo" parameterType="WorkappInfo">
		update 
			workapp_info_table 
		
			set 
				startTime= #{startTime},endTime= #{endTime},restTime=#{restTime} 
			
			where 
				email = #{email} and workDate like CONCAT(#{workDate}, '%')
				
	</update>
	
	<select id="AllWorkTime" parameterType="String" resultType="String">
		select 
			time_format(sec_to_time(sum(time_to_sec(workTime))),'%H')
			
			from 
				workapp_info_table 
			where 
				email=#{param1} and workDate like CONCAT(#{param2}, '%')
	</select>
	
	<update id="updateUserAppLanguage">
		update 
			workapp_app_set_table 
		
			set 
				setvalue = #{0}
			where 
				email = #{1} and setting='language'
	</update>
	
	<update id="updateUserAppWorkLocation">
		update 
			workapp_app_set_table 
		
			set 
				setvalue = #{0}
			where 
				email = #{1} and setting='workLocation'
	</update>

	<update id="updateUserPassword">
		update 
			app_account_table 
		set 
			password = #{0}
		where 
			email = #{1}
	</update>

	<select id="shukinCheck" parameterType ="String" resultType="int">
		select
			count(*) 
		from 
			workapp_info_table 
		where 
			email=#{email}
		and 
			workdate=curdate()
	</select>
	
	<insert id="shukinInsert" parameterType ="WorkappInfo">
		INSERT INTO 
			workapp_info_table 
			(
				email, 
				workdate, 
				starttime,
				workState
			)
		VALUES 
			(
				#{email},
				curdate(),
				#{startTime},
				#{workState}
			)
	</insert>
	
	<update id="taikinInsert" parameterType="WorkappInfo">	
			UPDATE
				workapp_info_table
			SET 
				endTime=#{endTime},
				restTime=#{restTime},
				workState=#{workState}
			WHERE 
				email=#{email} 
			AND 
				workdate=curdate()
	</update>
	
	<update id="worktimeInsert" parameterType="String">	
		UPDATE 
				workapp_info_table
			SET 
				workTime=  
					(select * from 
						(select subtime
							(  
								(select subtime   
									( 
										(select time(endTime) from workapp_info_table where email=#{email} and workdate=curdate())
								   		,(select time(startTime) from workapp_info_table where email=#{email} and workdate=curdate())
								 	)  
							 	) 
							 	,(select time(restTime) from workapp_info_table where email=#{email} and workdate=curdate()))
						 ) 
					 	as r
					 )
			WHERE 
				email=#{email} 
			AND 
				workdate=curdate()
	</update>
	
	<insert id="vacationInsert" parameterType="String">
		INSERT INTO 
			workapp_info_table 
			(
				email, 
				workdate, 
				workstate
			)
		VALUES
			(
				#{email},
				curdate(),
				'0012'
			)
	</insert>
	
	<select id="vacationCheck" parameterType ="String" resultType="int">
		select
			count(*) 
		from 
			workapp_info_table 
		where 
			email=#{email}
		and 
			workdate=curdate()
		and 
			workstate='0012'
	</select>
	
	<select id="getComment" resultType="String">
		select
			setvalue
		from 
			WORKAPP_SUPER_ADMIN_SET_TABLE
		where
			setting='notice'
	</select>
	
	<select id="taikinCheck" parameterType ="String" resultType="int">
		select
			count(*) 
		from 
			workapp_info_table 
		where 
			endTime>'00:00:00' 
		and 
			email=#{email}
		and 
			workDate=curdate()
	</select>
</mapper>