<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.ascom.kintai.dao.KintaiMapper">
	<select id="shukinCheck" parameterType ="String" resultType="int">
		select
			count(*) 
		from 
			workapp_info_table 
		where 
			email=#{email}
		and 
			workdate=curdate()
	</select>
	
	<insert id="shukinInsert" parameterType ="WorkappInfo">
		INSERT INTO 
			workapp_info_table 
			(
				email, 
				workdate, 
				starttime
			)
		VALUES 
			(
				#{email},
				#{workDate},
				#{startTime}
			)
	</insert>
	
	<update id="taikinInsert" parameterType="WorkappInfo">	
			<!-- UPDATE 
				workapp_info_table
			SET 
				endTime=#{endTime},
				workTime=  
					(select * from 
						(select subtime
							(  
								(select subtime   
									( 
										(select time(endTime) from workapp_info_table where email=#{email} and workdate=curdate())
								   		,(select time(startTime) from workapp_info_table where email=#{email} and workdate=curdate())
								 	)  
							 	) 
							 	,(select time(restTime) from workapp_info_table where email=#{email} and workdate=curdate()))
						 ) 
					 	as r
					 )
			WHERE 
				email=#{email} 
			AND 
				workdate=curdate() -->
			UPDATE
				workapp_info_table
			SET 
				endTime=#{endTime},
				restTime=#{restTime}
			WHERE 
				email=#{email} 
			AND 
				workdate=curdate()
	</update>
	
	<update id="worktimeInsert" parameterType="String">	
		UPDATE 
				workapp_info_table
			SET 
				workTime=  
					(select * from 
						(select subtime
							(  
								(select subtime   
									( 
										(select time(endTime) from workapp_info_table where email=#{email} and workdate=curdate())
								   		,(select time(startTime) from workapp_info_table where email=#{email} and workdate=curdate())
								 	)  
							 	) 
							 	,(select time(restTime) from workapp_info_table where email=#{email} and workdate=curdate()))
						 ) 
					 	as r
					 )
			WHERE 
				email=#{email} 
			AND 
				workdate=curdate()
	</update>
	
	<insert id="vacationInsert" parameterType="String">
		INSERT INTO 
			workapp_info_table 
			(
				email, 
				workdate, 
				workstate
			)
		VALUES
			(
				#{email},
				curdate(),
				'0012'
			)
	</insert>
	
	<select id="vacationCheck" parameterType ="String" resultType="int">
		select
			count(*) 
		from 
			workapp_info_table 
		where 
			email=#{email}
		and 
			workdate=curdate()
		and 
			workstate='0012'
	</select>
</mapper>