<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		<typeAlias type="com.ascom.kintai.vo.TestVo" alias="TestVo" />
		<typeAlias type="com.ascom.kintai.vo.Employee" alias="Employee" />
		<typeAlias type="com.ascom.kintai.vo.WorkappAppSet" alias="AppSet" />
		<typeAlias type="com.ascom.kintai.vo.WorkappInfo" alias="Info" />
		<typeAlias type="com.ascom.kintai.vo.WorkappSession" alias="Session" />
		<typeAlias type="com.ascom.kintai.vo.WorkappSuperAdmin" alias="Super" />
		<typeAlias type="com.ascom.kintai.vo.WorkappTextSet" alias="TextSet" />
	</typeAliases>
	
	<mappers>
		<mapper resource="testMapper.xml" />
	</mappers>
	
</configuration>

